.row {
    margin-left: 0;
    margin-right: 0;
}

div.side-bar.left-section {
    padding-right: 0;
    ul.nav {
        padding: 0 2%;
        a {
            color: rgba(0, 0, 0, 0.5);
            &:hover {
                color: #000;
            }
        }
    }
}

div.right-section {
    padding-bottom: 3%;
    article {
        height: 100%;
        div.card {
            height: 100%;
            border-radius: 1.25rem;
            div.card-header {
                border-top-left-radius: 1.25rem;
                border-top-right-radius: 1.25rem;
            }
            div.card-body {
                max-height: 450px;
                overflow: auto;
                padding: 3% 2%;
                margin-bottom: 1.5%;
                p {
                    margin-top: 1rem;
                    border: 1px solid #bdbdbd;
                    border-radius: 5px;
                    padding: 10px;
                }
            }
        }
    }
}


/**
    Collapsible Sidebar styling
*/

#sidebar {
    background: #fafafa;
    color: #000;
    min-width: 136px;
    margin-left: 0;
    transition: all 0.3s;
    a[data-toggle="collapse"] {
        position: relative;
    }
}

#content {
    visibility: hidden;
    height: 50px;
    display: flex;
    align-items: center;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #6d7fcc;
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
}


/**
    Browser custom scroll bar styling
*/

#style-1::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: #f6f6f6;
}

#style-1::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

#style-1::-webkit-scrollbar-thumb:active {
    background-color: #1e98ba;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    div.right-section {
        padding-left: 25px;
    }
}

@media (min-width: 885px) {
    div.right-section {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
        z-index: 999999;
        position: absolute;
        border: 1px solid #f1f1f1;
        border-radius: 2px;
    }
    #content {
        visibility: visible;
    }
    #sidebar ul li a:hover {
        background: none;
    }
}

@media (max-width: 991.98px) {
    article {
        div.card {
            div.card-body {
                [class*=' fig-']:not(:first-child) {
                    padding: 25px 15px;
                }
            }
        }
    }
}