<!--The content below is only a placeholder and can be replaced.-->
<header>
	<section>
		<div class="header-container">
			<div class="row header-wrapper">
				<div class="col-6 col-sm-4 col-md-4 col-lg-3 header-left-section company-logo">
					<a href="https://www.mordorintelligence.com/">
						<img src="https://www.mordorintelligence.com/images/mordor_logo.png" alt="mordor logo" id="logi">
					</a>
				</div>
				<div class="col-12 col-sm-12 col-md-6 col-lg-7 header-mid-section search">
					<div class="col-lg-8">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">
									<i class="fa fa-search"></i>
								</span>
							</div>
							<input type="text" class="form-control" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1">
						</div>
					</div>
				</div>
				<div class="col-6 offset-sm-4 col-sm-4 offset-md-0 col-md-2 offset-lg-0 col-lg-2 header-right-section">
					<div class="pull-right">
						<i class="fa fa-bell"></i>
					</div>
					<div class="pull-right">
						<i class="fa fa-user"></i>
					</div>
					<div class="pull-right">
						<i class="fa fa-bars"></i>
					</div>
				</div>
			</div>
			<div class="container navbar-container">
				<nav class="navbar navbar-expand-lg navbar-light ">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					 aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="#">Explore</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="/data-analysis" routerLinkActive="active">Data & Analysis</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" routerLink="/companies" routerLinkActive="active">Companies</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Regulations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Animal Head Count</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Parent Market Analysis</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">News</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Appendix</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</section>
</header>
<section class="row main-content-wrapper">
	<div class="col-12 col-sm-12 offset-md-2 col-md-10 filter-container">
		<div class="row">
			<div class="col-12 col-sm-3 col-md-3 additive-type">
				<span>Additive Type </span>
				<div class="dropdown additive-dropdown">
					<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						All
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Option 1</a>
						<a class="dropdown-item" href="#">Option 2</a>
						<a class="dropdown-item" href="#">Option 3</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-9 offset-md-0 col-md-9 segmented-by">
				<span class="segmented-by-text">Segmented By </span>
				<div class="segmented-by-radio-dropdown">
					<div class="product-type">
						<input type="radio" aria-label="">
						<span>Product Type </span>
						<div class="dropdown segmented-by-dropdown">
							<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								All
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Option 1</a>
								<a class="dropdown-item" href="#">Option 2</a>
								<a class="dropdown-item" href="#">Option 3</a>
							</div>
						</div>
					</div>

					<div class="animal-type">
						<input type="radio" aria-label="">
						<span>Animal Type </span>
						<div class="dropdown segmented-by-dropdown">
							<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								All
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Option 1</a>
								<a class="dropdown-item" href="#">Option 2</a>
								<a class="dropdown-item" href="#">Option 3</a>
							</div>
						</div>
					</div>

					<div class="country">
						<input type="radio" aria-label="">
						<span>Country </span>
						<div class="dropdown segmented-by-dropdown">
							<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								All
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Option 1</a>
								<a class="dropdown-item" href="#">Option 2</a>
								<a class="dropdown-item" href="#">Option 3</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <router-outlet></router-outlet> -->
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 sidebar-main-content">
		<router-outlet></router-outlet>
	</div>
</section>
